.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pages{
    display: flex;
    align-items: center;
    gap: 20px;
}


.login{
    display: flex;
    gap: 25px;   
    align-items: center;
    
}

.primarybtn{
    background: var(--gradiant);
    padding: 15px 30px;
    border: none;
    color: #fff;
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    font-family: "Saira", sans-serif;
    cursor: pointer;
}

.cart{
    position: relative;
    margin-top: 7px;
}

.circle{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2AAA94;
    top: -7px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.ghostbtn{
    background: none;
    border: none;
    text-decoration: underline;
    font-weight: 500;
    font-size: 20px;
    font-family: "Saira", sans-serif;
    cursor: pointer;
}

.pages,button{
    background: none;
    border: none;
    color: #1B2336;
    font-weight: 500;
    font-size: 20px;
    font-family: "Saira", sans-serif;
    cursor: pointer;
}

.navLinks{
    display: flex;
    align-items: center;
    gap: 20px;
    
}


.dropdown{
    position: absolute;
    color: #3b4661c6;
    margin-left: -20px;
    width: 160px;
    padding: 0 20px 20px 20px;
}

.dropdownCategory{
    font-size: 17px;
}

.hidden{
    display: none;
}

.search{
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid #C2C2C2;
    width: 300px;
    height: 49px;
    padding: 14px 22px;
    color: #1B1B1B ;
}

.search-input{
    border: none;
    outline: none;
}

.relative{
    position: relative;
}

.category{
    margin-top: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
}